@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
    margin-top: 60px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}
.title{
    font-size: 70px;
    font-weight: 900;
    font-family: var(--font-roboto);
    background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 150%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.description{
    font-family: var(--font-roboto);
    margin-top: 52px; 
    font-size: 25px;
    width: 55%;
}

.buttons{
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    gap: 10px;
}
.contactBtn{
    text-decoration: none;
    font-weight: 600;
    font-size: 28px;
    color: var(--color-text);
    background-color:var(--color-primary);
    border-radius: 100px;
    padding: 15px 24px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin-top:30px;
    margin-bottom: 20px;
}
.download{
    font-size: 25px;
    margin-right: 5px;
}
.contactBtn:hover{
    background-color:#4c65ca;
}

.heroimg{
    position: relative;
    
    width:30%;
    right:15%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes floating{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(0,10px);
    }
    100%{
        transform:translate(0,-0px);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -250px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
    overflow: hidden;
}

.bottomblur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    left: -50vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
    overflow: hidden;
}

@media screen  and ( max-width:830px) {
    .container{
        flex-direction: column-reverse;
        align-items: center ;
    }
    .content{
        align-items:flex-start;
    }
    .description{
        width: 90%;
    }
    
}
@media screen  and ( max-width:700px){
    .heroimg{
        width: 70%;
    }
}

@media screen and (max-width:500px){
    .buttons{
        flex-direction: column;
    }
}