@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top:20px;
    margin-left: 10%;
    margin-right: 10%;
    padding:10px 0;
}
.title{
    font-family: "outfit",sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: var(--color-text);
    letter-spacing: 1.75px;
  text-transform: uppercase;

}

.content{
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}
.skills{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:10px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
.skillImageContainer{
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    

}
.skillImageContainer img {
    width: 75px;
  }

  .skill p {
    font-size: 20px;
    font-family: var(--font-roboto);
    font-weight: 500;
  } 

  .history{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
  }

  .historyItem{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 20px;
    
  }

  .historyItem img{
    width: 70px;
  }
  .historyItemdetails {
    font-family: var(--font-roboto);
  }
  .historyItemdetails h3 {
    font-size: 30px;
    font-weight: 500;
  }
  
   .historyItemdetails p {
    font-size: 20px;
    font-weight: 300;
  }
  .historyItemdetails ul{
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    
  }

  @media screen and (max-width: 830px){
    .content{
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
      }
      .history {
        width: 100%;
        gap: 9px;
      }
  }