@import "./vars.css";

.container{
    color:var(--color-text);
    width: 100vw;
    height: 100%;
    background-color:var(--color-bg);
    overflow: hidden;
    
}


@media screen and (max-width:830px) {
    .App{
        height:100%;
        
    }
}
